numpy
pandas<1.1.0
jinja2
requests
matplotlib
yfinance
statsmodels
seaborn
datetime
pandas_datareader
quantstats
ipywidgets
quandl
plotly
plotly-express
xlrd
voila
nsepy
investpy==1.0.6
streamlit
bs4
beautifulsoup4
yahooquery
openpyxl
xlsxwriter
tqdm
